* {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}


body {
    display:flex;
    flex-direction: column;
}

.name {
    font-size: 40px;
    padding: 10px;
    margin-right: 40px;
    color: snow;
    font-weight: bold;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 20px 80px;
    background-color:#53485B;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.info {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.container {
    background-color: #C7D1C8;
}

.sidebar {
    background-color: #38626B;
    display: flex;
    height: 400px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 70px;
    color:snow;
}

.Head1 {
    font-size: 25px;
    font-weight: bold;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Button {
    background-color:grey;
    padding: 5px;
    font-weight: bold;
    max-width: 80px;
    border-radius: 8px;
    text-align: center;
}

.image {
    background-color: grey;
    width: 400px;
    height: 200px;
    border-radius: 20px;
}




.content {
    justify-content: center;
    display: flex;
    gap: 50px;
    margin: 20px 80px;
    padding: 10px;
    max-width: 1000;
}

.card {
   background-color:whitesmoke;
   padding: 10px;
   width: 150px;
   border-radius: 15px;
}

.quote {
    background-color: whitesmoke;
    padding: 20px 100px;
    border-radius: 20px;
}

